/* App.css */
/* Appliquez la couleur de fond noire à l'ensemble de la page */
html, body, #root {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

.m-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #17a2b8;
  background-color: #f8f9fa;
}

.nav.nav-pills {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav.nav-pills li {
  margin-right: 10px;
}

/* Styles pour les liens actifs dans la navigation */
.nav.nav-pills li .btn.btn-outline-info.active {
  background-color: #17a2b8;
  color: #fff;
}

.sidenav__logo {
  width: 50px; /* Ajustez la largeur du logo selon vos besoins */
  height: auto;
}
